.App {
  height: 100%;
  .slider {
    .logo {
      height: 32px;
      margin: 16px;
      text-align: center;
    }
  }

  .主体 {
    .顶栏 {
      display: flex;
      justify-content: space-between;
    }

    .内容 {
      min-height: 280px;
      height: 100%;
      overflow: auto;

      padding: 24px;
      margin: 24px;
    }
  }
}
